<nav class="navbar navbar-expand-sm " ngClass="{{classChange}}">
  <div class="container">
    <a class="navbar-brand logo-text " href="https://www.rishabh-aggarwal.com/">
      iAm.Rishabh
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse  " id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto ">
        <li class="nav-item">
          <a class="nav-link" href="/">home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">about </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/projects">projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">contact </a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="/signin">signin </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">signup </a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>