<div class="project-card">
  <div class="col-md-3">
    <div class="card">
      <img class="card-img-top" src="{{src}}" alt="projectalias">
      <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{desc}}</p>
        <span *ngFor="let item of tag">
          <app-project-tag [tag]="item"></app-project-tag>
        </span>
        <div class="row">
          <div class="col-md-3">
            <a href="{{git}}" class="btn btn-primary">GITHUB</a>
          </div>
          <div class="col-md-3">
            <a href="{{url}}" class="btn btn-danger">LIVE</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>