.card
  min-height: 400px
  max-height: 400px
  overflow: hidden
  margin-bottom: 10px
  padding: 10px 0px

.card-img-top
  // width: 0px
  text-align: center

.card img
  text-align: center
  width: 50%
  margin: 0 auto
  border: 1px solid black
  min-height: 100px

.card-text
  overflow: hidden

.card-body
  height: 100px
  overflow: hidden
