<app-heroimage></app-heroimage>
<!-- <app-projects></app-projects> -->
<app-social-media></app-social-media>
<div class="container mt-5 ">
  <div class="row">
    <div class="col-md-12 mb-5">
      <h4 class="text-center">Create Project </h4>
      <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
  </div>
  <form [formGroup]="projForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-6 text-left ">
        <div class="input-group mb-3">
          <span class="input-group-text">Project Name</span>
          <input type="text" class="form-control" placeholder="Projecct Name" aria-label="Projecct Name"
            formControlName="projectName">
          <span class="input-group-text">Short Name</span>
          <input type="text" class="form-control" placeholder="Short Name" aria-label="Short Name"
            formControlName="shortName">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="Category">Category</span>
          <input type="text" class="form-control" placeholder="category" aria-label="category"
            aria-describedby="Category" formControlName="category">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="Description">Description </span>
          <input type="text" class="form-control" placeholder="description" aria-label="description"
            formControlName="description">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="techStack">Tech Stack</span>
          <input type="text" class="form-control" placeholder="techStack" aria-label="techStack"
            formControlName="techStack">
        </div>
      </div>
      <div class="col-md-6 text-left ">
        <div class="input-group mb-3">
          <span class="input-group-text">Git URL</span>
          <input type="text" class="form-control" placeholder="git" aria-label="git" formControlName="git">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Demo URL</span>
          <input type="text" class="form-control" placeholder="demo" aria-label="demo" aria-describedby="basic-addon1"
            formControlName="demo">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon3">Live URL </span>
          <input type="text" class="form-control" id="basic-url" placeholder="Live URL" aria-label="Live URL"
            formControlName="live">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon3">Status </span>
          <select class="form-select" aria-label="Select Status" formControlName="status">
            <option value="planned" selected>Planned</option>
            <option value="inprogress">In-progress</option>
            <option value="completed">Completed</option>
          </select>
          <span class="input-group-text">Generate Key</span>
          <input type="text" class="form-control" placeholder="Generate Key" aria-label="key" formControlName="key">
        </div>
      </div>
      <div class="col-md-12 text-center">

        <button type="submit" class="btn btn-secondary">Submit</button>
      </div>
    </div>
  </form>

  <app-bs-alert al_head='{{al_head}}' al_desc={{al_desc}}></app-bs-alert>

</div>