<section class="project " id="projects">
  <div class="container">
    <div class="sc-Head">
      <div class="row">
        <div class="col-md-12">
          <div class="Heading">
            <p> Projects.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="sc-content">
      <div class="owl-carousel owl-theme">
        <div class="item">
          <div class="project_image">
            <img src="https://www.rishabh-aggarwal.com/assets/img/erp_portal.png" class="img-thumbnail">
          </div>
          <div class="project_text">
            <h5> Resourse Planing System </h5>
            <p> Enterprise Resourse Planing System, Project made to Control Resourses of an Enterprise alowing them to
              login and manage the complaints,leaves and other enterprise related information. </p>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</section>