$imagePath: '/assets/images/'
$fontPath: '/assets/font/'

.headText
  text-align: center
  color: white
  transform: translate(-50%, -50%)
  top: 15%
  left: 50%
  position: absolute

.masterContent
  background-image: url(#{$imagePath}bg.jpeg)
  min-height: 20vh

.masterContent .user_image
  position: relative
  margin: 0 auto

.masterContent .user_image
  border-radius: 50%
  height: 100px
  width: 100px
  background-size: contain
  background-position: center
  background-image: url("https://www.rishabh-aggarwal.com/assets/img/user.png")

.headText h1.name
  font-weight: 600
  font-size: 38px
  margin: 0px
  color: #ecedee
  font-family: 'Caveat', cursive
  letter-spacing: 4px

.auto-typer
  border-top: 2px solid #47a3da
  padding-top: 10px
  margin: 0 auto
  width: 100%
