<div class="none_container" id="home">
	<div class="masterContent">
		<div class="user_image">
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="headText ">
					<h1 class="greetings"> Hello, I'm </h1>
					<h1 class="name">
						Rish<span>abh</span> Agg<span>arwal</span>
					</h1>
					<div class="auto-typer">
						<span class="typer typer-style" id="main" data-words="Web Developer,Web Designer" data-delay="100"
							data-deleteDelay="1000"></span>
						<span class="cursor" data-owner="main"></span>
					</div>
					<script src="https://www.rishabh-aggarwal.com/assets/js/typer.js"> </script>
				</div>
			</div>
		</div>
		<div class="sc-media">
			<a href="http://www.facbook.com/iam.rishabhhh" target="_blank" class="icon"><i class="fa fa-facebook"></i>
			</a>
			<a href="http://www.twitter.com/im_rishabhh" target="_blank" class="icon">
				<i class="fa fa-twitter"></i>
			</a>
			<a href="http://www.linkedin.com/in/iamrishabhh" target="_blank" class="icon">
				<i class="fa fa-linkedin"></i>
			</a>
			<a href="https://github.com/rishcodelib" target="_blank" class="icon">
				<i class="fa fa-github"></i>
			</a>
		</div>
	</div>
</div>