<div class="container">
  <div class="row">
    <div class="col-md-12 text-center ">
      Disclaimer
    </div>
    <div class="col-sm-8">
      <ul>
        <li>This Web-App is focuses on learning new technologies by .</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, in blanditiis totam fuga delectus vel dolorum
          fugiat iusto unde cupiditate odio numquam dolorem repellat sunt nisi corrupti quas mollitia a.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, in blanditiis totam fuga delectus vel dolorum
          fugiat iusto unde cupiditate odio numquam dolorem repellat sunt nisi corrupti quas mollitia a.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, in blanditiis totam fuga delectus vel dolorum
          fugiat iusto unde cupiditate odio numquam dolorem repellat sunt nisi corrupti quas mollitia a.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, in blanditiis totam fuga delectus vel dolorum
          fugiat iusto unde cupiditate xdio numquam dolorem repellat sunt nisi corrupti quas mollitia a.</li>
      </ul>
    </div>
    <div class="col-sm-4 ">
      <div class="heading-2 text-center ">
        Enquiry Form
      </div>
      <ul>
        <li> Line 1</li>
        <li> Line 2</li>
        <li> Line 3</li>
        <li> Line 4</li>

      </ul>
    </div>
  </div>
</div>