<app-heroimage></app-heroimage>
<div class="container mt-3">
  <div class="row">
    <div class="col-md-12 text-center">
      <h4>Available Services</h4>
    </div>
  </div>
  <div class="row">

    <div class="col-md-3">
      <button class="btn btn-primary" type="button">Profile</button>
    </div>
    <div class="col-md-3">
      <button class="btn btn-primary" type="button">Users</button>
    </div>
    <div class="col-md-3">
      <button class="btn btn-primary" type="button">Projects</button>
    </div>
    <div class="col-md-3">
      <button class="btn btn-primary" type="button">Settings</button>
    </div>
  </div>

</div>