<section class="about-me " id="about">
	<div class="container">
		<div class="sc-content">
			<div class="row">
				<div class="offset-md-4 col-md-8">
					<div class="sc-head ">
						<div class="Heading">
							About Me
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 ">
					<div class="usr-img ">
						<img src="./assets/images/no_image.png" class="img-thumbnail ">
					</div>
				</div>
				<div class="col-md-8">
					<div class="sc-Head">

						<div class="sub-Heading">
							Software Developement Engineer
						</div>
					</div>


					<div class="sub-Content">
						<p> I am a Full Stack Developer presently working in <a class="company" href="https://www.lumen.com">Lumen
								Technologies</a> as Software Developent Engineer-I. Passionate for programing & New Technologies. I am a
							Full Stack Developer presently working in <a class="company" href="https://www.lumen.com">Lumen
								Technologies</a> as Software Developent Engineer-I. Passionate for programing & New Technologies </p>
					</div>

					<app-skill-bar></app-skill-bar>

					<div class="mt-2 ">
						<a class="btn btn-two "> Request Resume</a>
					</div>
				</div>
			</div>

		</div>
	</div>
	<i class="fa fa-leetcode" aria-hidden="true"></i>
</section>