.about-me
  padding: 30px 0px
  background-color: #ddddddcc

.company
  text-decoration: none
  color: #00aff4
  font-weight: 600

.sub-Heading
  padding-top: 10px
  font-weight: 600
  font-size: 18px

.Heading
  text-align: center
  font-size: 22px

.progress
  background-color: black

.sub-skill
  margin: 20px 0
  color: white

.skill-1
  width: 93%

.skill-2
  width: 94%

.skill-3
  width: 96%

// .btn-secondary
//   background-color: black
//   color: white

// .btn-primary
//   background-color: #cccccc00
//   color: Black
//   border: 1px solid black

// .btn-primary:hover
//   background-color: black
//   color: white
//   border: 1px solid black
//   transition: ease-in .5s
