.about-me
  padding: 30px 0px
  // background-color: #ddddddcc
  

.company
  text-decoration: none
  color: #00aff4
  font-weight: 600

.sub-Heading
  padding-top: 10px
  font-weight: 600
  font-size: 18px

.Heading
  text-align: center
  font-size: 22px

.progress
  background-color: black

