<section class="about-me " id="about">
	<div class="container">

		<div class="sc-content">
			<div class="row">
				<div class="col-md-4">
					<div class="usr-img">
						<img src="https://www.rishabh-aggarwal.com/assets/img/user.png" class="img-thumbnail">
					</div>
				</div>
				<div class="col-md-8">
					<div class="sc-Head">
						<div class="Heading">
							About Me
						</div>
						<div class="sub-Heading">
							Software Developement Engineer
						</div>
					</div>

					<div class="sub-Content">
						<p> I am a Full Stack Developer presently working in <a class="company" href="https://www.lumen.com">Lumen
								Technologies</a> as Software Developent
							Engineer-I. </p>
					</div>
					<div class="sub-skill">
						<div class="progress ">
							<div class="progress-bar " data-value="75%" style="width:88%"> Javascript </div>
						</div>
					</div>
					<div class="sub-skill">
						<div class="progress">
							<div class="progress-bar skill-1" style="width:96%">
								JAVA Technologies </div>
						</div>
					</div>
					<div class="sub-skill">
						<div class="progress">
							<div class="progress-bar skill-2" style="width:90%">
								MEAN Stack Development </div>
						</div>
					</div>
					<div class="sub-skill">
						<div class="progress ">
							<div class="progress-bar skill-3" style="width:95%">
								LAMPP Stack Development </div>
						</div>
					</div>


					<a class="btn btn-info"> Request Resume</a>

				</div>

			</div>
		</div>
	</div>
</section>