
					<div class="sub-skill">
						<div class="progress ">
							<div class="progress-bar " data-value="75%" style="width:88%"> Javascript </div>
						</div>
					</div>
					<div class="sub-skill">
						<div class="progress">
							<div class="progress-bar skill-1" style="width:96%">
								JAVA Technologies </div>
						</div>
					</div>
					<div class="sub-skill">
						<div class="progress">
							<div class="progress-bar skill-2" style="width:90%">
								MEAN Stack Development </div>
						</div>
					</div>
					<div class="sub-skill">
						<div class="progress ">
							<div class="progress-bar skill-3" style="width:95%">
								LAMPP Stack Development </div>
						</div>
					</div>