<span *ngIf=" !(products)">

  <div class="container jumbotron bg-light p-5 text-center border rounded">
    <div class=" display-6  ">
      Project service is <span class="text-danger "> NOT </span> available. <br />
    </div>
  </div>
  <hr>
</span>

<div class="container ">
  <div class="row">
    <div class="col-md-12 text-center">
      <h4> {{products.projectName}} [{{products.shortName}}]</h4>
      <p>{{products.createdAt}}</p>
      <h1> KEY : {{key}}</h1>
      <hr class="w-25 m-auto mb-3">
    </div>
    <div class="col-md-4">
      <img src="../assets/images/no_image.png" class="img-thumbnail w-75" alt="Project Image">
    </div>
    <div class="col-md-6">
      <p>
        {{products.description}}
      </p>


      <p>Tech Stack: <span *ngFor="let item of products.techStack">{{item}} </span>
      </p>
      <span *ngIf="products.url.live" class="col-md-4  ">
        <a href="{{products.url.live}}" class="btn process-btn  btn-live mx-1">LIVE</a>
      </span>
      <span *ngIf="products.demoUrl" class="col-md-4 text-center">
        <a href="{{products.demoUrl}}" class="btn process-btn  btn-demo mx-1">DEMO</a>
      </span>
      <span *ngIf="products.url.git" class="col-md-4 text-right ">
        <a href="{{products.url.git}}" class="btn process-btn  btn-git mx-1 ">GITHUB</a>
      </span>
    </div>
    <div class="col-md-2">
      <p>
        Version: {{products.version}}
      </p>
      <p>Status : {{products.status.enum}}</p>
      <p class="display-6  "> {{products.category}}</p>

    </div>

    <app-code-assesment-bar></app-code-assesment-bar>
  </div>

</div>