<span *ngIf=" !(products)">
  <div class="container jumbotron bg-light p-5 text-center border rounded">
    <div class=" display-6  ">
      Project service is <span class="text-danger "> NOT </span> available. <br />
    </div>
  </div>
  <hr>
</span>

<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h4> {{products.projectName}} [{{products.shortName}}]</h4>
      <!-- Tech Stack -->
      <span *ngFor="let item of products.techStack">
        <app-project-tag class="tag " [tag]="item"></app-project-tag>
      </span>
      <!-- End of Tech Stack -->
    </div>
    <div class="col-md-4">
      <p>
        <b> Version: </b>{{products.version}}
      </p>
    
      <p><b>Status: </b>
        
        {{products.status.enum}}</p>
    </div>
    <div class="col-md-8 text-end">
      <p><b>Creation Date:</b> {{products.createdAt}}</p>
      <p><b>Category:</b> {{products.category}}</p>
    </div>
    <!-- <hr class="w-25 m-auto mb-3"> -->

    <div class="col-md-4 mb-1">
      <img src={{products.imageSrc}} class="img-thumbnail " alt="Project Image">
    </div>
    <div class="col-md-6">
      <p>
        Description: <br /> {{products.description}}
         <br />
         {{products.description}}
     
      </p>
    </div>
  </div>
  <!-- URL's -->
  <div class=" mt-1 ">
    <div class="row">
      <div class="col-md-4">
        <span *ngIf="products.url.live" class="col-md-4 text-center ">
          <a href="{{products.url.live}}" class="btn process-btn btn-live mx-1 w-100">
            <i class="fa fa-globe" aria-hidden="true"></i>
            LIVE</a>
        </span>
      </div>
      <div class="col-md-4">
        <span *ngIf="products.demoUrl" class="col-md-4 text-center">
          <a href="{{products.demoUrl}}" class="btn process-btn  btn-demo mx-1 w-100">DEMO</a>
        </span>
      </div>
      <div class="col-md-4">
        <span *ngIf="products.url.git" class="col-md-4 text-center ">
          <a href="{{products.url.git}}" class="btn process-btn  btn-git mx-1 w-100 ">
            <i class="fa fa-github" aria-hidden="true"></i> GITHUB</a>
        </span>
      </div>
    </div>
  </div>
  <!--END of URL's -->
  <app-code-assesment-bar></app-code-assesment-bar>

</div>