.email {
  text-decoration: none;
  color: black;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

.form-control:focus {
  border-color: #ccc0;
}

.pt-icon {
  background-color: #f4f4f4;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  text-align: center;
  color: black;
}

.pt-icon .fa {
  padding: 28px 0px;
  font-size: 23px;
}

.pt-content {
  padding: 5px 0px 0px 0px;
}
  
.pt-contact {
  text-align: center;
  cursor: pointer;
}

.pt-icon:hover {
  background-color: black;
  color: #f4f4f4;
  transition: ease-in .2s;
}