<section class="techDivider">
  <div class="container-fluid bg-light py-3">
    <div class="row">
      <div class="col-md-1 col-4  d-flex justify-content-center    ">
        <i class="fab fa-java fa-4x"></i>
      </div>
      <div class="col-md-1 col-4 d-flex justify-content-center  ">
        <i class="fab fa-angular fa-4x"></i>
      </div>
      <div class="col-md-1 col-4 d-flex justify-content-center  ">
        <i class="fab fa-envira fa-4x"></i>
      </div>
      <div class="col-md-1 col-4 d-flex justify-content-center  ">
        <i class="fab fa-js fa-4x"></i>
      </div>
      <div class="col-md-1 col-4 d-flex justify-content-center  ">
        <i class="fab fa-docker fa-4x"></i>
      </div>
      <div class="col-md-1 col-4 d-flex justify-content-center  ">
        <i class="fa fa-database fa-4x"></i>\
      </div>
      <div class="col-md-1 col-4 d-flex justify-content-center  ">
        <i class="fab fa-node fa-4x"></i>
      </div>
      <div class="col-md-1 col-4 d-flex justify-content-center  ">
        <i class="fab fa-npm fa-4x"></i>
      </div>
      <div class="col-md-1 col-4 d-flex justify-content-center  ">
        <i class="fab fa-jenkins fa-4x"></i>
      </div>
      <div class="col-md-1 col-4 d-flex justify-content-center  ">
        <i class="fab fa-sass fa-4x"></i>
      </div>
      <div class="col-md-1 col-4 d-flex justify-content-center  ">
        <i class="fab fa-css3-alt fa-4x"></i>
      </div>
      <div class="col-md-1 col-4 d-flex justify-content-center  ">
        <i class="fab fab fa-aws fa-4x"></i>
      </div>

    </div>
  </div>
</section>