<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>All Registered Projects</h2>
      <p>All Projects are listed here with details</p>
      <div class="row">
        <div class="offset-col-md-4 text-end"><button class="btn btn-success btn-sm" (click)="addNewProject()"> Add New
            Project</button></div>
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>created at</th>
            <th>updated at</th>
            <th>projectName</th>
            <th>shortName</th>
            <!-- <th>description</th> -->
            <th>shortDescription</th>
            <th>category</th>
            <th>techStack</th>
            <th>url</th>
            <th>version</th>
            <th>status</th>
            <th>Modify</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of prjList">
            <td>{{item.createdAt}}</td>
            <td>{{item.updatedAt}}</td>
            <td>{{item.projectName}}</td>
            <td>{{item.shortName}}</td>
            <!-- <td>{{item.description}}</td> -->
            <td>{{item.shortDescription}}</td>
            <td>{{item.category}}</td>
            <td>{{item.techStack}}</td>
            <td>{{item.url}}</td>
            <td>{{item.version}}</td>
            <td>{{item.status.enum}}</td>
            <td>
              <button class="btn-sm btn btn-warning mb-1">EDIT</button>
              <button class="btn-sm btn btn-danger mb-1">DELETE</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>