<span *ngIf=" (resume)">
<hr>
  <div class="container jumbotron bg-light p-5 text-center border rounded">
    <div class=" display-6  ">
      Resume service is <span class="text-danger "> NOT </span> available. <br />
    </div>
  </div>
  <hr>
</span>
<section class="resume container border mt-2" *ngIf="!(resume)">

  <div class="header ">
    <div class="row">
      <div class="col-md-4 text-start">
        <h6 class="display-6 "> Rishabh Aggarwal</h6>
        <h6 class="display-8"> Email : rishabhaggarwal23@gmail.com </h6>
      </div>
      <div class="col-md-4 text-center">
        <p> Address : Banglore, KA</p>
        <!-- <img src="/assets/images/no_image.png" alt="userImage" class="img-thumbnail rounded-circle w-50 h-100"> -->
      </div>
      <div class="col-md-4 text-end">
        <p> Company Details: Lumen Technologies,<br /> Kadubesanhalli, Banglore, Karnataka, IND</p>
      </div>
    </div>
  </div>
  <hr>
  <div class="body">
    <div class="row">
      <div class="col-md-12">
        <h4 class="display-6 "> Experience</h4>
        <table class="table   ">
          <tr>
            <th>Company Details</th>
            <th>Profile</th>
            <th>Experience</th>
          </tr>
          <tr>
            <td>CALinfo Training & Consultancy, Kurukshetra, HR</td>
            <td>Web Developer</td>
            <td>12 Months</td>
          </tr>
          <tr>
            <td>
              Lumen Technologies, Bengaluru, KA
            </td>
            <td>Web Developer</td>
            <td>18 Months</td>
          </tr>
        </table>
      </div>
      <div class="col-md-6">
        <h4 class="display-6 "> Skills</h4>
      </div>
    </div>
  </div>
  <hr>
  <div class="footer">
    <div class="row">
      <div class="col-md-6">

      </div>
    </div>
  </div>
</section>