<div class="container">
  <div class="row">
    <div class="col-md-12">Table of Contents</div>
  </div>
  <div class="row">
    <div class="col-md-12">

      <h2>Hover Rows</h2>
      <p>The .table-hover class enables a hover state (grey background on mouse over) on table rows:</p>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>created at</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Password</th>
            <th>contact</th>
            <th>updated at</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let item of userList">
            <td>{{item.createdAt}}</td>
            <td>{{item.firstName}}</td>
            <td>{{item.lastName}}</td>
            <td>{{item.email}}</td>
            <td>{{item.password}}</td>
            <td>{{item.contact}}</td>
            <td>{{item.updatedAt}}</td>

          </tr>

        </tbody>
      </table>



    </div>
  </div>
</div>