<div class="container jumbotron">
  <div class="row ">
    <div class="col-md-12 text-center p-5 mt-5">
      <h2 class="display-4"> Contact Details </h2>
      <!-- <p class="lead">We are Updating our Systems . . .</p> -->
      <hr class="my-4">
      <p class="lead">You can Reach Me at <a href="email:rishabhaggarwal23@gmail.com"
          class="email">rishabhaggarwal23@gmail.com</a></p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-6">
            <label for="first-name">First Name: </label> <br />
            <input id="first-name" type="text" class="form-control" formControlName="firstName">
          </div>
          <div class="col-md-6">
            <label for="last-name">Last Name: </label> <br />
            <input id="last-name" type="text" class="form-control" formControlName="lastName">
          </div>
          <div class="col-md-6">
            <label for="email">Email: </label> <br />
            <input id="email" type="email" class="form-control" formControlName="email">
          </div>

          <div class="col-md-6">
            <label for="contact">Contact: </label> <br />
            <input id="contact" type="number" class=" form-control" formControlName="contact">
          </div>
          <div class="col-md-12 mt-2 text-center">
            <!-- <p>Complete the form to enable button.</p> -->
            <button type=" submit" class="btn btn-secondary" [disabled]="!profileForm.valid">Submit</button>

          </div>

        </div>

      </form>
    </div>
  </div>
</div>