<div class="row bg-light " *ngFor="let item of sm.socialMediaLinks">
  <div class="col-md-2 text-center">
    <a href="{{item.github}}" target="_blank" class="icon">
      GIT
      <i class="fa fa-git" aria-hidden="true"></i>
    </a>
  </div>
  <div class="col-md-2 text-center">
    <a href="{{item.facebook}}" target="_blank" class="icon">
      facebook
      <i class="fa fa-git" aria-hidden="true"></i>
    </a>
  </div>
  <div class="col-md-2 text-center">
    <a href="{{item.linkedin}}" target="_blank" class="icon">
      linkedin
      <i class="fa fa-git" aria-hidden="true"></i>
    </a>
  </div>
  <div class="col-md-2 text-center">
    <a href="{{item.twitter}}" target="_blank" class="icon">
      twitter
      <i class="fa fa-git" aria-hidden="true"></i>
    </a>
  </div>
  <div class="col-md-2 text-center">
    <a href="{{item.youtube}}" target="_blank" class="icon">
      youtube
      <i class="fa fa-git" aria-hidden="true"></i>
    </a>
  </div>
  <div class="col-md-2 text-center">
    <a href="{{item.instagram}}" target="_blank" class="icon">
      instagram
      <i class="fa fa-git" aria-hidden="true"></i>
    </a>
  </div>
  <div class="col-md-2 text-center">
    <a href="{{item.snapchat}}" target="_blank" class="icon">
      snapchat
      <i class="fa fa-git" aria-hidden="true"></i>
    </a>
  </div>


</div>