<div class="row bg-light py-3 " *ngFor="let item of sm.socialMediaLinks">
  
  <div class="col-md-3 col-3 text-center">
    <a href="{{item.facebook}}" target="_blank" class="icon">
      <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
    </a>
  </div>
  
  <div class="col-md-3 col-3 text-center">
    <a href="{{item.youtube}}" target="_blank" class="icon">
      <i class="fa fa-youtube fa-2x" aria-hidden="true"></i>
    </a>
  </div>
  <div class="col-md-3 col-3 text-center">
    <a href="{{item.instagram}}" target="_blank" class="icon">
      <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
    </a>
  </div>
  <div class="col-md-3 col-3 text-center">
    <a href="{{item.snapchat}}" target="_blank" class="icon">
      <i class="fa fa-snapchat fa-2x" aria-hidden="true"></i>
    </a>
  </div>

</div>

