<section class="contact">
	<div class="container">
		<div class="sc-Head">
			<div class="row">
				<div class="col-md-12">
					<div class="Heading ">
						<p> Contact</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="pt-contact">
					<div class="pt-icon">
						<i class="fa fa-map-marker fa-2x	"> </i>
					</div>
					<div class="pt-content">
						<h6> Address</h6>
						<p> Kurukshetra, Haryana, India</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="pt-contact">
					<div class="pt-icon">
						<i class="fa fa-envelope"></i>
					</div>
					<div class="pt-content">
						<h6> Address</h6>
						<p> Kurukshetra, Haryana, India</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="pt-contact">
					<div class="pt-icon">
						<i class="fa fa-phone"></i>
					</div>
					<div class="pt-content">
						<h6> Address</h6>
						<p> Kurukshetra, Haryana, India</p>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="form_data">
			<form [formGroup]="enquiryForm">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="first-name">First Name</label>
							<input type="text" class="form-control" id="first-name" aria-describedby="emailHelp"
								placeholder="Enter First Name" formControlName="firstName">

						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="last-name">Last Name</label>
							<input type="text" class="form-control" id="lastName" aria-describedby="emailHelp"
								placeholder="Enter Last Name" formControlName="lastName">

						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="email">Email address</label>
							<input type="email" class="form-control" id="email" aria-describedby="Email" placeholder="Enter email"
								formControlName="email">

						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="contact">Contact Number</label>
							<input type="number" class="form-control" id="number" aria-describedby="Contact Number"
								placeholder="Enter Contact Number" formControlName="contact">

						</div>
					</div>
					<div class="col-md-12 text-center">
						<button type="submit" class="btn btn-primary" [disabled]="!enquiryForm.valid">Submit</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>