
    .all-projects .project {
      margin-bottom: 50px;
  }

  .all-projects .project:hover {
      box-shadow: 4px 3px 6px 2px #cccc;
      margin-top: -5px;
      transition: ease-in 0.3s;
  }

  

  .all-projects .project {
      margin-bottom: 50px;
  }

  .all-projects .project:hover {
      box-shadow: 4px 3px 6px 2px #cccc;
      margin-top: -5px;
      transition: ease-in 0.3s;
  }

  .project .card .card-cat {
      color: gray;
  }
  .btn {
      font-size: 10px;
  }