<section class="project">
	<div class="container">
		<div class="sc-Head">
			<div class="row">
				<div class="col-md-12">
					<div class="Heading">
						<p> Projects.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="sc-content">
			<div class="owl-carousel owl-theme">
				<div class="item">
					<div class="project_image">
						<img src="./assets/img/erp_portal.png">
					</div>
					<div class="project_text">
						<h5> Resourse Planing System </h5>
						<p> Enterprise Resourse Planing System, Project made to Control Resourses of an Enterprise alowing them to login and manage the complaints,leaves and other enterprise related information. </p>
					</div>
				</div>
				<div class="item">
					<div class="project_image">
						<img src="./assets/img/travel_route.png">
					</div>
					<div class="project_text">
						<h5> The Travel Routes </h5>
						<p> A Travel Website and blog, project available at www.thetravelroutes.com </p>
					</div>
				</div>
				<div class="item">
					<div class="project_image">
						<img src="./assets/img/justified_code.png" width="100px">
					</div>
					<div class="project_text">
						<h5> Justified Code</h5>
						<p> A Business website, currently active at www.justifiedcode.in</p>
					</div>
				</div>


			</div>
		</div>





	</div>
</section>