<div class="row bg-dark " *ngFor="let item of profSm.profSm">
  <div class="col-md-3 col-3 text-center">
    <a href="{{item.github}}" target="_blank" class="icon">
      <i class="fa fa-github fa-2x" aria-hidden="true"></i>
    </a>
  </div>

  <div class="col-md-3 col-3 text-center">
    <a href="{{item.linkedin}}" target="_blank" class="icon">
      <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
    </a>
  </div>
  <div class="col-md-3 col-3 text-center">
    <a href="{{item.whatsapp}}" target="_blank" class="icon">
      <i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i>
    </a>
  </div>
  <div class="col-md-3 col-3 text-center">
    <a href="{{item.twitter}}" target="_blank" class="icon">
      <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
    </a>
  </div>
</div>