<div class="container">
  <span *ngFor="let project of mp.project">
    <div class="row">
      <div class="col-md-12 text-center">
        <h4>{{project.title}}</h4>
      </div>
      <div class="col-md-4">
        <img src="{{project.imgSrc}}" class="img-thumbnail" alt="">
      </div>
      <div class="col-md-8">
        <span *ngFor="let item of project.tag">
          <app-project-tag class="tag" [tag]="item"></app-project-tag>
        </span>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto reprehenderit corporis sunt nostrum ratione
          voluptatem sint, ab possimus accusamus voluptates obcaecati. Delectus, nisi saepe itaque rem tenetur aperiam
          sequi error.
        </p>
        <div *ngIf="project.liveUrl" class="col-md-4  ">
          <a href="{{project.liveUrl}}" class="btn process-btn btn-live">LIVE</a>
        </div>
        <div *ngIf="project.demoUrl" class="col-md-4 text-center">
          <a href="{{project.demoUrl}}" class="btn process-btn btn-demo">DEMO</a>
        </div>
        <div *ngIf="project.gitUrl" class="col-md-4 text-right ">
          <a href="{{project.gitUrl}}" class="btn process-btn btn-git ">GITHUB</a>
        </div>
      </div>

      <!-- <app-code-assesment-bar></app-code-assesment-bar> -->
    </div>
  </span>
</div>