<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
     
      <!-- <h4>  <span *ngFor="let item of userList">
        {{item.firstName}}
        {{item.firstName}}
        {{item.firstName}}
      </span> </h4> -->
    </div>
    <div class="col-md-4">
      <img src="" class="img-thumbnail" alt="">
    </div>
    <div class="col-md-8">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto reprehenderit corporis sunt nostrum ratione
        voluptatem sint, ab possimus accusamus voluptates obcaecati. Delectus, nisi saepe itaque rem tenetur aperiam
        sequi error.
      </p>
      <div class="col-md-4  ">
        <a href="#" class="btn process-btn btn-live">LIVE</a>
      </div>
      <div class="col-md-4 text-center">
        <a href="#" class="btn process-btn btn-demo">DEMO</a>
      </div>
      <div class="col-md-4 text-right ">
        <a href="#" class="btn process-btn btn-git ">GITHUB</a>
      </div>
    </div>

  </div>

</div>