<div id="particles-js"> <canvas class="particles-js-canvas-el" width="3330" height="1666"
    style="width: 100%; height: 100%;"></canvas></div>
<div class="none_container" id="home">
  <div class="masterContent">
    <div class="user_image">

    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="headText">
          <h1 class="greetings"> Hello, I'm </h1>
          <h1 class="name">
            Rish<span>abh</span> Agg<span>arwal</span>

          </h1>


          <div class="auto-typer">

            <span class="typer typer-style" id="main" data-words="Web Developer,Web Designer" data-delay="100"
              data-deletedelay="1000" style="color: white;">We</span>
            <span class="cursor" data-owner="main" style="transition: all 0.1s ease 0s; opacity: 1;">_</span>
          </div>
          <!-- <script src="https://www.rishabh-aggarwal.com/assets/js/typer.js"> </script> -->


        </div>
      </div>
    </div>
    <div class="sc-media">
      <a href="http://www.facbook.com/iam.rishabhhh" target="_blank" class="icon"><i class="fa fa-facebook"
          aria-hidden="true"></i>
      </a>
      <a href="http://www.twitter.com/im_rishabhh" target="_blank" class="icon">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
      <a href="http://www.linkedin.com/in/iamrishabhh" target="_blank" class="icon">
        <i class="fa fa-linkedin" aria-hidden="true"></i>
      </a>
      <a href="https://github.com/rishcodelib" target="_blank" class="icon">
        <i class="fa fa-github" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>