/* You can add global styles to this file, and also import other style files */

a.btn-one
  background-color: #ffffff00
  color: Black
  border: 1px solid black

a.btn-one:hover
  background-color: #000000
  color: white
  transition: ease-in .5s

a.btn-two
  background-color: black
  color: white

a.btn-two:hover
  background-color: #ffffff00
  color: Black
  border: 1px solid black
  transition: ease-in .5s

a.btn-git
  background-color: #ffffff00
  color: Black
  border: 1px solid black

a.btn-git:hover
  background-color: #000000
  color: white
  transition: ease-in .5s

a.btn-live
  background-color: black
  color: white

a.btn-live:hover
  background-color: #ffffff00
  color: Black
  border: 1px solid black
  transition: ease-in .5s

a.btn-demo
  background-color: #ffdd00e8
  color: Black
  border: 1px solid #ffdd00a1
  transition: ease-in .5s

a.btn-demo:hover
  background-color: #ffdd00a1
  color: black
  border: 1px solid #ffdd00e8
  transition: ease-in .5s

