
<app-heroimage></app-heroimage>
<app-projects></app-projects>
<app-social-media></app-social-media>
<div class="container mt-5 ">
  <div class="row">
    <div class="col-md-12 mb-5">
      <h4 class="text-center">Signup Form</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 left-part">
      <div class="form-heading">
        <h5>
          Registration Form

        </h5>
        <h6 class="sub-heading"> Thanks for showing up your intrest in my community!!!. </h6>
      
        <p class="form-desc">

          Please enter your credentials here.
        </p>
      </div>
    </div>
    <div class="col-md-8 text-left right-part">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="input-group mb-3">
          <span class="input-group-text">First Name</span>
          <input type="text" class="form-control" placeholder="First Name" aria-label="First Name"
            formControlName="firstName">
          <span class="input-group-text">Last Name</span>
          <input type="text" class="form-control" placeholder="Last Name" aria-label="Last Name"
            formControlName="lastName">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Email Address</span>
          <input type="text" class="form-control" placeholder="Email Address" aria-label="Email Address"
            aria-describedby="basic-addon1" formControlName="email">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon3">Contact Number </span>
          <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"
            formControlName="contact">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon3">New Password</span>
          <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"
            formControlName="password">
        </div>
        <!-- <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon3">Re-Enter Password</span>
              <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"formControlName="password">
            </div> -->
        <button type="submit" class="btn btn-secondary">Submit</button>
      </form>
    </div>
  </div>


</div>
