<section class="about-me" (scroll)=onSkillScroll>
	<div class="container">

		<div class="sc-content">
			<div class="row">
				<div class="col-md-4">
					<div class="usr-img">
						<img src="./assets/img/user.png" class="img-thumbnail">
					</div>
				</div>
				<div class="col-md-8">
					<div class="sc-Head">
						<div class="Heading">
							About Me
						</div>
						<div class="sub-Heading">
							Web Developer
						</div>
					</div>

					<div class="sub-Content">
						<p> A Full Stack Web Developer, with an years of experience in Web-Development and its Frameworks. Well
							Versed with creating fully Responsive, Static and Dynamic Websites.</p>
					</div>
					<div class="sub-skill">
						<div class="progress ">
							<div class="progress-bar web_des" data-value="95%"> Web Design</div>
						</div>
					</div>
					<div class="sub-skill">
						<div class="progress">
							<div class="progress-bar brand">
								Branding</div>
						</div>
					</div>
					<div class="sub-skill">
						<div class="progress">
							<div class="progress-bar web_dev">
								Developement</div>
						</div>
					</div>
					<div class="sub-skill">
						<div class="progress ">
							<div class="progress-bar marketing">
								Marketing</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="col-md-12">
								<button (click)='onHireMe()' class="btn btn-primary"> Hire Me</button>
								&nbsp;
								<button (click) = 'onRequestCV()' class="btn btn-secondary"> Request CV</button>
							</div>
						</div>
					</div>



				</div>

			</div>
		</div>
	</div>
</section>