<section class="projects-head bg-dark text-white py-4">
  <div class="container">
    <div class="bg-light offset-md-1 col-md-10">
      <div class="row">
        <div class="projects-head-block">
          <div class="row">
            <div class="col-md-6">
              <div class="project-heading text-dark p-5">
                <span>
                  <div class="row">
                    <div class="col-md-12">
                      <h2>"Working at almost twice the capacity"</h2>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <p>“Without deviation from the norm, progress is not possible.”
                      </p>
                    </div>
                  </div>

                </span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="project-image">
                <div class="img-all-cntr text-end">
                  <img src="https://www.rishabh-aggarwal.com//assets/img/user.png" class="=border-none">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>