<div class="row">
  <div class="col-md-12 display-5 text-center mb-2">
    Certificate Credentials
  </div>
  <div class="col-md-6 " *ngFor="let item of certi.certiCredentials">
    <b>issuedBy: </b> {{item.issuedBy}} <br />
    <b>certiDate: </b> {{item.certiDate}} <br />
    <b>certiValid: </b> {{item.certiValid}} <br />
    <b>certiPhoto: </b> {{item.certiPhoto}} <br />
    <b>certiLink: </b> {{item.certiLink}} <br />
    <b>certiCerd: </b> {{item.certiCerd}} <br />
    <b>certiTag: </b> {{item.certiTag}} <br />
  </div>
</div>