@font-face {
    font-family: 'luna_barregular';
    src: url('lunabar_-webfont.woff2') format('woff2'),
         url('lunabar_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}